In [21]:
import pyodbc
import pandas as pd

In [17]:
cnxn = pyodbc.connect("Driver={SQL Server};"
                      "Server=GYOKU-PC\SQLEXPRESS;"
                      "Database=ahora12;"
                      "username=GYOKU-PC\GYOKU;"
                      "password=123456")

In [18]:
df = pd.read_sql_query('select * from opyfacttable', cnxn)

C:\Users\GYOKU\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [19]:
df.head()

,mes_anio,provincia,rubro,operaciones,facturacion
0,abr-2021,BUENOS AIRES,"Alimentos, bebidas y productos de higiene pers...",41019.0,151236265.0
1,abr-2021,BUENOS AIRES,Anteojos,28070.0,236411039.0
2,abr-2021,BUENOS AIRES,Artefactos de iluminación,16527.0,94565561.0
3,abr-2021,BUENOS AIRES,Artículos de Librería,8348.0,31112542.0
4,abr-2021,BUENOS AIRES,Balnearios,553.0,7832591.0

In [20]:
df.tail()

,mes_anio,provincia,rubro,operaciones,facturacion
7289,sep-2021,TUCUMAN,Perfumeria,1700.0,9799201.0
7290,sep-2021,TUCUMAN,Servicios de cuidado personal,38.0,502721.0
7291,sep-2021,TUCUMAN,Servicios de preparacion para el deporte,29.0,558716.0
7292,sep-2021,TUCUMAN,Sin clasificar,3042.0,40364648.0
7293,sep-2021,TUCUMAN,Turismo,187.0,4056866.0